# Render Backend Environment Variables
PORT=8080
NODE_ENV=production
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/pulsedb
JWT_SECRET=your_long_random_secret_string
FLASK_API_URL=https://your-ml-api-url.onrender.com/predict
